.detailCardFull {
  width: 16.85rem;
  height: 100%;
  border: none;
  background: none;
  color: inherit;
}

.detailCardBody {
  height: 100%;
  width: 15.62rem;
}

.detailCardTitle {
 text-decoration:none;
 color: inherit;
}

.detailCardImg {
  height: 25rem;
  width: 16.87rem;
}

@media only screen and (min-width: 768px) {
  .detailCardFull {
    display: flex;
    flex-direction: row;
    width: 50rem;
    justify-content: center;
    & p {
      width: 25rem;
    }
  }
}

@media only screen and (min-width: 996px) {
 

  .detailCardFull {
    & p {
      margin-left: 0.8rem;
    }
  }
}