.detailCardFull {
  width: 16.85rem;
  height: 100%;
  border: none;
  background: none;
  color: inherit;
}

.detailCardBody {
  height: 100%;
  width: 15.62rem;
}

.detailCardTitle {
 text-decoration:none;
 color: inherit;
}

.detailCardImg {
  height: 25rem;
  width: 16.87rem;
}